<h1>Nejvic</h1>
<p>Find me in app/views/home/index.html.erb</p>




<li><%= link_to "Tags", settings_tags_path , :class => "header" %></li>
  <li><%= link_to "Categories", new_category_path , :class => "header" %></li>









